{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="page-container">
        <p class="tag">LikeLion_14th_BabyLion</p>
        <h1 class="title">2026 멋쟁이사자처럼 14기 자기소개</h1>
        <h6 class="welcome">프론트엔드 트랙 아기사자 윤재원</h6>
        <img src="{% static 'images/ice.png' %}" alt="아기사자" width="200px">
        <div class="section">
                <div class="section-title">🦁 윤재원의 자기소개 🦁</div>
                <ul>    
                    <li>학과/학번 : 정보통신공학과 26학번</li>
                    <li>나이 : 21살(06년생)</li>
                    <li>MBTI : 낯 많이 가리는 ESTJ</li>
                    <li>취미 : 여행, 보드게임</li>
                </ul>
        </div>
    </div>
{% endblock %}